@font-face {
    font-family: "VerSacrum";
    src: url("../asset/font/verSacrum.ttf");
}

@font-face {
	font-family: "VerSacrumTitle";
	src: url("../asset/font/verSacrumTitle.ttf");
}

@font-face {
	font-family: "Light";
	src: url("../asset/font/NeueHaasDisplay-Light.ttf");
}

@font-face {
	font-family: "Reg";
	src: url("../asset/font/NeueHaasDisplay-Mediu.ttf");
}

@font-face {
	font-family: "Med";
	src: url("../asset/font/NeueHaasDisplay-Roman.ttf");
}

html, body {
  	overflow-x: hidden;
}

body {
  	position: relative;
    font-family: "Reg";
    background-color: var(--primary);
    color: var(--secondary);
    user-select: none;
}

.lightF {
	font-family: "Light";
}

:root {
    --black: #000;
    --white: #fff;
  
    --primary: #CBD2C1;
    --secondary: #854B46;
}
  
.pointer {
    cursor: pointer;
}

.instReg {
    font-family: "InstrumentalReg";
}

.instIta {
    font-family: "InstrumentalItalic";
}

.subHero{
	font-size: 13px;
}

.fold-regular {
    width: 100%;
    overflow: visible;
}

.fourSectCont{
	max-height: 40vh;
    border: 3px solid var(--secondary);
	aspect-ratio: 1/1;
}

.imgFit {
	width:100%;
	height:100%;
	object-fit:cover;
}

@media only screen and (max-device-width: 480px){
	.fourSectCont{
		width: 100%;
	}
}
