@font-face {
    font-family: "VerSacrum";
    src: url("../asset/font/verSacrum.ttf");
}

@font-face {
	font-family: "VerSacrumTitle";
	src: url("../asset/font/verSacrumTitle.ttf");
}

@font-face {
	font-family: "Light";
	src: url("../asset/font/NeueHaasDisplay-Light.ttf");
}

@font-face {
	font-family: "Reg";
	src: url("../asset/font/NeueHaasDisplay-Mediu.ttf");
}

@font-face {
	font-family: "Med";
	src: url("../asset/font/NeueHaasDisplay-Roman.ttf");
}
/* 
html, body {
  	overflow-x: hidden;
} */

body {
  	position: relative;
    font-family: "Reg";
    background-color: var(--primary);
    color: var(--secondary);
    user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.divider {
	height: 30vh;
}

#loader {
	z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: opacity 0.5s ease;
  }

  #numLoader {
    color: var(--secondary);
    font-size: 250px;
    font-family: "VerSacrum";
  }

.lightF {
	font-family: "Light";
}

:root {
    --black: #000;
    --white: #fff;
  
    --primary: #dbd8cf;;
    --secondary: #d95b36;;
}
  
.pointer {
    cursor: pointer;
}

.overflow-x-hidden {
	overflow-x: hidden
}

.verSacrum {
    font-family: "VerSacrum";
}

.verSacrumTitle {
    font-family: "VerSacrumTitle";
}

.subHero{
	font-size: 13px;
}

.fold-regular {
    width: 100%;
    overflow: visible;
}

.fourSectCont{
	max-height: 40vh;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.sliderContainer {
    overflow: hidden;
    cursor: grab;
}

.sliderContainer img {
    transition: transform 0.3s ease-in-out;
}

.grabbing {
    cursor: grabbing;
}

.imgFit {
	background-color: var(--secondary);
	width:100%;
	height:100%;
	object-fit:cover;
	transform-origin: center center;
}

.imgDetail{
	aspect-ratio: 1/1;
	background-color: var(--secondary);
	overflow: hidden;
}

#productImg:hover {
	cursor: zoom-in;
}

.infoProd{
	width: 100%;
	background-color: var(--secondary);
	color: var(--primary);
}

#name {
	font-size:70px;
	line-height: 90%;
}

.sizes{
	background-color: var(--secondary);
	color: var(--primary);
	aspect-ratio: 1/1;
	height: 6vh;
}

.line{
	border:1px solid var(--secondary);
}

.rotate-icon {
	transition: transform 0.3s ease;
}

@media only screen and (max-device-width: 480px){
	.fourSectCont{
		width: 100%;
	}

	#numLoader {
		color: var(--secondary);
		font-size: 150px;
		font-family: "VerSacrum";
	  }

	#name {
		font-size:30px;
		line-height: 90%;
	}
}
